<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define a default value if logback_path is undefined -->
    <property name="logback_path" value="${logback_path:-./log}"/>

    <springProfile name="local">
        <property name="logback_path" value="./"/>
    </springProfile>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{MM-dd HH:mm:ss.SSS}] [%t] [%C{2}:%line] [%p] %msg %n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="rollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback_path}/anymind-pos.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback_path}/anymind-pos.log.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%d{MM-dd HH:mm:ss.SSS}] [%t] [%C{2}:%line] [%p] %msg %n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false" level="TRACE">
        <level value="TRACE"/>
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
